<form #TaskForm="ngForm" (ngSubmit)="saveTask(TaskForm)">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add Task</h3>
      </div>
      <div class="panel-body">
  
        <div class="form-group">
          <label for="taskName">Task Name</label>
          <input id="taskName" type="text" class="form-control" 
                 name="TaskName" [(ngModel)]="TaskName">
        </div>
  
        <div class="form-group">
          <label for="ParentTask">Parent Task</label>
          <input id="ParentTask" type="text" class="form-control" 
                 name="ParentTask" [(ngModel)]="ParentTask">
        </div> 


        <div class="form-group">
            <label for="Priority">Priority</label>
            <div id="Slider"></div>
           
          </div> 

          <div class="form-group">
            <label for="StartDate">Start Date</label>
            <input id="StartDate" type="text" class="form-control" 
                   name="StartDate" [(ngModel)]="StartDate">
          </div> 

          <div class="form-group">
            <label for="EndDate">End Date</label>
            <input id="EndDate" type="text" class="form-control" 
                   name="EndDate" [(ngModel)]="EndDate">
          </div> 
  
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
