<table class= "table table-hover " border="1px" >

    <tr>
        <th>Task ID</th>
        <th>Parent ID</th>
        <th>Task Name</th>
        <th>Priority</th>
        <th>Start Date</th>
        <th>End Date</th>

    </tr>

  <tr *ngFor = "let item of Tasks" >
        <td>{{item.TaskId}} </td>
        <td>{{item.ParentId}} </td>
        <td>{{item.TaskName}} </td>
        <td>{{item.Priority}} </td>
        <td>{{item.StartDate}} </td>
        <td>{{item.EndDate}} </td>
    </tr>
</table>