<!-- <div class="row">
    <div class="col-md-6">
        <label for="TaskName">Task Name:</label>
        <input type="text" class="form-control" [(ngModel)]="nameSearch" placeholder="Task Name" />
    </div>
    <div class="col-md-6">
        <label for="ParentTask">Parent Task:</label>
        <input type="text" class="form-control" [(ngModel)]="parentSearch" placeholder="Parent Task" />
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label for="PriorityFrom">Priority From:</label>
        <input type="number" class="form-control" [(ngModel)]="fromSearch" placeholder="Priority From" />
    </div>
    <div class="col-md-2">
        <label for="PriorityTo">Priority To:</label>
        <input type="number" class="form-control" [(ngModel)]="toSearch" placeholder="Priority To" />
    </div>

    <div class="col-md-4">
        <label for="StartDate">Start Date:</label>
        <input type="date" class="form-control" [(ngModel)]="sdateSearch" placeholder="Start Date" />
    </div>

    <div class="col-md-4">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" [(ngModel)]="edateSearch" placeholder="End Date" />
    </div> 
</div>-->

    <div class="row">
    <div class="col-md-3">
            <div class="form group">
        <label for="ProjectName">Project:</label>
           <select name="ProjectName"  [(ngModel)]="projectId"  class="form-control" id="ProjectName" >
                <option *ngFor="let proj of projects" [value]="proj.ProjectId">
                  {{proj.ProjectName}}
                </option>
              </select>
              </div>
     
     </div>

     <div class="col-md-2" style="margin-top: 30px;" >
            <button type="button"  class="btn btn-primary"  (click)="Search()">Search</button>
     </div>

     <div class="col-md-7" style="margin-top: 30px;" > 
            Sort Task By:   <button class="btn btn-primary" type="button" (click)="SortType('StartDate')" >Start Date</button>
            <button class="btn btn-primary" type="button"  (click)="SortType('EndDate')" style="margin-left: 20px;">End Date</button>
            <button class="btn btn-primary" type="button" (click)="SortType('Priority')" style="margin-left: 20px;">Priority</button>
            <button class="btn btn-primary" type="button" (click)="SortType('Completed')" style="margin-left: 20px;">Completed</button>
       
       
    </div>
    </div>

    
    <br>
    <br>

   

         <br>

       

    <div class="col-md-12">
        <table class="table table-striped" id="table2">
            <thead>
                <tr>
                    <th class="hidden">Id</th>
                    <th>Task</th>
                    <th>Parent</th>
                    <th>Priority</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let task of tasks  | filter: nameSearch : parentSearch : fromSearch : toSearch : sdateSearch : edateSearch "> -->
                        <tr *ngFor="let task of tasks" > 
                    <td class="hidden ">{{task.TaskId}}</td>
                    <td>{{task.TaskName}}</td>
                    <td>{{task.ParentTask }}</td>
                    <td>{{task.Priority}}</td>
                    <td>{{task.StartDate| date:'dd/MM/yyyy'}} </td>
                    <td>{{task.EndDate|date:'dd/MM/yyyy' }}</td>
                    <td><button class="btn btn-primary " [attr.disabled]="task.Status ==='Completed' ? 'disabled': null" (click)="editTask(task) ">
                        Edit</button>
                        <button class="btn btn-primary " (click)="deleteTask(task)" style="margin-left: 20px; "> Delete</button>
                        <button class="btn btn-primary " [attr.disabled]="task.Status ==='Completed' ? 'disabled': null" (click)="EndTask(task)" style="margin-left: 20px; ">
                        End Task</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
